.mobile__menu {
    display: none;
    background: var(--white-97);
    &-container {
        position: relative;
        width: 100%;
        max-width: 767px;
        border: 2px solid var(--orange-50);
        border-radius: 5px;
        padding: 60px 0;
        margin: 0 auto;
    }
    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        fill: var(--orange-50);
    }
    &-item {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    &-link {
        font-family: var(--font-family);
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        color: var(--orange-50);
        padding: 5px; //*
    }
}

.current {
    border-bottom: 1px solid var(--orange-50);
}