/* Reset CSS */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font), sans-serif;
    // background: var(--white-97);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
}

/* Additional Resets (Optional) */
table {
    border-collapse: collapse;
    width: 100%;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}